body {
    font-family: "Noto Sans TC", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #141a1f;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #141a1f;
}

.bg-grey {
    background-color: #F0F3F5;
}